aniso8601==7.0.0
asgiref==3.2.3
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
Babel==2.7.0
cffi==1.13.2
channels==2.3.1
constantly==15.1.0
cryptography==2.8
daphne==2.3.0
dj-database-url==0.5.0
Django==2.2.7
django-filter==2.2.0
django-heroku==0.3.1
django-phonenumber-field==3.0.1
django-polymorphic==2.1.2
graphene==2.1.8
graphene-django==2.6.0
graphql-core==2.2.1
graphql-relay==2.0.0
gunicorn==19.9.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
phonenumbers==8.10.22
promise==2.2.1
psycopg2==2.8.4
pycparser==2.19
PyHamcrest==1.9.0
python-decouple==3.1
pytz==2019.3
Rx==1.6.1
singledispatch==3.4.0.3
six==1.13.0
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
whitenoise==4.1.4
zope.interface==4.6.0
