body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#__next {
    /* Grid components use negative margin of 1rem */
    /* We can consider fixing them, since negative margins might not*/
    /* necessarily be good practice, but it is really hard to get the*/
    /* same behavior back so we do this as a "quick hack" */
    height: calc(100% - 1rem);
    width: 100%;
    display: flex;
}
